* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  border: 1px solid rgb(185, 181, 181);
  width: 500px;
  height: max-content;
  padding: 30px;
}

.input-field {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  margin: 20px 0;
  width: 300px;
  height: 30px;
  padding: 5px;
  border: 1px solid rgb(215, 214, 214);
}

#add {
  outline: none;
  border: none;
  margin: 10px;
  background-color: white;
  font-size: 25px;
  color: rgb(110, 111, 111);
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(123, 121, 121);
  font-size: 20px;
  color: rgb(123, 121, 121);
}

input[type="checkbox"] {
  margin-right: 20px;
  text-align: left;
  font-size: 23px;
}

#save,
#edit,
#delete {
  outline: none;
  border: none;
  margin: 10px;
  background-color: white;
  font-size: 20px;
}

#edit {
  color: rgb(25, 132, 199);
}

#delete {
  color: red;
}

#save{
  background-color: rgb(49, 163, 74);
  padding: 10px;
  color: white;
  font-size: 15px;
}

label {
  flex-grow: 1;
  text-align: left;
}

input[type="checkbox"] {
  accent-color: rgb(0, 0, 0); /* Changes checkbox color when checked */
  width: 20px;
  height: 20px;
}
